
<center>
<h1>Squigis Pizza</h1>

<p> This Page is currently under construction.</p>

<br>
<br>
<p> but, feel free to call us at 219-924-6000!</p>

<br>


<img src= "http://data.whicdn.com/images/232460194/large.jpg" alt=pizza heart" />
</center>